<!-- templates/index.hbs -->
<!--
SPDX-FileCopyrightText: 2026 Teo Costa (THYPRESS <https://thypress.org>)
SPDX-License-Identifier: MPL-2.0
-->
{{#> _layout
  pageTitle=siteTitle
  pageDescription=siteDescription
  hasEntriesList=true
  showFooterLinks=true
}}

  <h1>Pages</h1>

  <ul class="pages" id="pages-list">
    {{#each entries}}
    <li>
      <h3><a href="{{url}}">{{title}}</a></h3>
      <time>{{date}}</time>
      {{#if description}}
      <p>{{description}}</p>
      {{/if}}
      {{#if entry.tags}}
      <div class="tags">
        {{#each entry.tags}}<a href="/tag/{{this}}/">{{this}}</a>{{/each}}
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ul>

  {{#if pagination}}
  <nav class="pagination">
    {{#if pagination.hasPrev}}
      <a href="{{#if (eq pagination.prevPage 1)}}/{{else}}/page/{{pagination.prevPage}}/{{/if}}">← Previous</a>
    {{/if}}

    {{#each pagination.pages}}
      {{#if (eq this ../pagination.currentPage)}}
        <strong>{{this}}</strong>
      {{else if (eq this "...")}}
        <span>...</span>
      {{else}}
        <a href="{{#if (eq this 1)}}/{{else}}/page/{{this}}/{{/if}}">{{this}}</a>
      {{/if}}
    {{/each}}

    {{#if pagination.hasNext}}
      <a href="/page/{{pagination.nextPage}}/">Nex →t</a>
    {{/if}}
  </nav>
  {{/if}}

{{/_layout}}
