<!-- templates/tag.hbs -->
<!--
SPDX-FileCopyrightText: 2026 Teo Costa (THYPRESS <https://thypress.org>)
SPDX-License-Identifier: MPL-2.0
-->
{{#> _layout
  pageTitlePrefix="Tag: "
  pageTitleValue=tag
  pageDescription=siteDescription
  hasEntriesList=true
  showFooterLinks=false
}}
  <h1>Tag: {{tag}}</h1>

  <ul class="pages" id="pages-list">
    {{#each entries}}
    <li>
      <h3><a href="{{url}}">{{title}}</a></h3>
      <time>{{date}}</time>
      {{#if description}}
      <p>{{description}}</p>
      {{/if}}
    </li>
    {{/each}}
  </ul>

{{/_layout}}
