<!-- templates/tag.hbs -->
<!-- SPDX-License-Identifier: MPL-2.0

This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->
{{#> _layout
  pageTitlePrefix="Tag: "
  pageTitleValue=tag
  pageDescription=siteDescription
  hasEntriesList=true
  showFooterLinks=false
}}
  <h1>Tag: {{tag}}</h1>

  <ul class="pages" id="pages-list">
    {{#each entries}}
    <li>
      <h3><a href="{{url}}">{{title}}</a></h3>
      <time>{{date}}</time>
      {{#if description}}
      <p>{{description}}</p>
      {{/if}}
    </li>
    {{/each}}
  </ul>

{{/_layout}}
